<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="Data Source=127.0.0.1;Initial Catalog=jinitab;User ID=jinitab;PWD=DVdhsinE;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="jinitabCS" connectionString="Data Source=127.0.0.1;Initial Catalog=jinitab;UID=jinitab;PWD=DVdhsinE;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="pubsCS" connectionString="Data Source=127.0.0.1;Initial Catalog=pubs;UID=jinitab;PWD=DVdhsinE;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="NorthwindCS" connectionString="Data Source=127.0.0.1;Initial Catalog=Northwind;UID=jinitab;PWD=DVdhsinE;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorks;UID=jinitab;PWD=DVdhsinE;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="AdventureWorksDWCS" connectionString="Data Source=127.0.0.1;Initial Catalog=AdventureWorksDW;UID=jinitab;PWD=DVdhsinE;Persist Security Info=True"
    providerName="System.Data.SqlClient" />
  <add name="jinitabConnectionString1" connectionString="Data Source=127.0.0.1;Initial Catalog=jinitab;Persist Security Info=True;User ID=jinitab;Password=DVdhsinE"
    providerName="System.Data.SqlClient" />
</connectionStrings>