@media (min-width: 50px) and (max-width: 800px) {
    .wrapper {
        width : 100%;
        margin: 0 auto;
    }
}

@media (min-width: 801px) {
    .wrapper {
        width : 800px;
        padding-top:30px;
    }
    .main {
        float : left;
        width : 300px;
        margin-left:50px;
    }
    .sidebar {
        float : left;
        width : 390px;
        padding : 20px;
        margin-left:15px;
    }
}